@import "tailwindcss";

/* Reset and base styles */
html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--foreground);
}

:focus-visible {
  outline: 2px solid #2196f3;
  outline-offset: 2px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* Theme styles */
:root {
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
  --background: #f1f1f1;
  --foreground: 222.2 47.4% 11.2%;
}

.dark {
  --background: #161816;
  --foreground: #d3cfcf;
}

